<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="ما رأيك ببعض المساعدة, انا قاعدر على مساعدتك ">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="image.jpg" />
    <link rel="icon" type="image/jpg" href="image.jpg">
    <title>help full</title>
    <link rel="stylesheet" href="style.css">

    <style>

    </style>
</head>

<body>
    <!--MENU DIV-->
    <menu id="menu">

        <div class="menu-head">
            <button onclick="menu.style.display = 'none' ">⤯</button>
            <li>help full 1.5</li>
        </div>
        <div class="content-menu">

            <p>
                :احصل على الأرشادات والتحديثات من خلال
            </p>
            <ul>
                <a href="https://whatsapp.com/channel/0029VagLHct0lwgkIY0Zbk3V">whatsapp</a>
                <a href="https://t.me/bashar_prog">telegarm</a>
                <a href="https://www.facebook.com/groups/1161673915271837/?mibextid=WaXdOe">facebook</a>
            </ul>

            <div class="menu-sendERR">
                <p>
                    :أرسل تقريرك عن التطبيق
                </p>
                <input type="text" id="menu_input">
                <button onclick="sendERR()">➠</button>
            </div>



        </div>
        <a href="toText.html"><p class="author-menu">
            author: bashar haywi
        </p>
        </a>
        <footer>
            <button onclick="localStorage.removeItem('chats'), message_container.innerHTML = ''" class="menu-remove">⤫مسح الدردشة</button>
            <div style="display: flex;">
                <span style="margin:6px 0 0 10px; font-size: 15px;" id="loginName">bashar</span>
                <div class="i-m-u">
                    <div class="menu-user"></div>
                </div>
            </div>
        </footer>

    </menu>

    <!--FOLLOW INSTAGRAM-->
    <div id="follow_insta">
        <div class="follow_div">
            <p>
                يحق لك 5أجابات في الجوله الواحدة, قم بمتابعتي للحصول على حساب غير مقيد
            </p>
            <button id="follow_button">FOLLOW</button>
        </div>
    </div>

    <!-- PROMPT  ... -->
    <div id="prompt">
        <div class="prompt-div-close">
            <button onclick="closePrompt()" id="prompt-close">×⁠</button>
            <p style="font-size: 16px; color: #fff;">
                help full
            </p>
        </div>

        <div class="constent">
            <video id="prompt_video" src="" controls></video>
            <img id="prompt_img" src="" alt="no">
            <audio id="prompt_audio" src="" controls></audio>
            <p style="color: #fff;" id="prompt_file"></p>
        </div>

        <div class="prompt-div">
            <input placeholder=". . ." type="text" id="prompt-input">
            <button id="prompt-send">أرسل</button>
        </div>
    </div>

    <!--HEADER ...-->
    <header>
        <img id="header_image" alt="icon">
        <div style="margin-top: 5px;">
            <h4>1.5 help full</h4>
            <div id="online"></div>
        </div>

        <div class="header-cont">



            <div id="header_call" class="cont">
                <i style="height: 6px;"></i>
                <i style="height: 15px;"></i>
                <i style="height: 23px;"></i>
                <i style="height: 15px;"></i>
                <i style="height: 6px;"></i>
            </div>
            <span onclick="menu.style.display = 'block'" id="menu_button">☵</span>
        </div>
    </header>

    <!-- CONTAINER ... -->
    <ul id="message_container">


    </ul>

    <!--FORM MESSAGE -->
    <div id="form_message">
        <div class="buttons-msg">
            <button class="buttons-w" id="button_audio">
                <div class="b1"></div>
            </button>
            <button class="buttons-w" id="button_msg">➜</button>
        </div>

        <div class="div-more">
            <button id="but_setMore" style="color: #555; font-size: 30px; font-weight: bold; width: 100%; height: 100%; background: none; border: none;">⧾</button>
            <div class="more_action" id="more_action">
                <button onclick="cheng_audio.click()">♪♬</button>
                <button style="background: #5555553d;">▶</button>
                <button onclick="cheng_image.click()">⎚</button>
                <button style="background: #5555553d;">⎙</button>
            </div>

        </div>

        <textarea placeholder="message" id="input_msg"></textarea>
        <div id="header-genr">
            <div></div>
        </div>
    </div>

    <div style="display: none;" class="cheng-head">
        <input id="cheng_image" accept="image/*" type="file">
        <input id="cheng_video" accept="video/*" type="file">
        <input id="cheng_audio" accept="audio/*" type="file">
        <input id="cheng_file" accept="application/*" type="file">
    </div>


</body>

<script src="mine.js"></script>

</html>
