<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="ما رأيك ببعض المساعدة, انا قاعدر على مساعدتك ">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="image.jpg" />
    <link rel="icon" type="image/jpg" href="image.jpg">
    <title>help full</title>
    <link rel="stylesheet" href="style.css">

    <style>

    </style>
</head>

<body>
    <!--MENU DIV-->
    <menu id="menu">
        <button onclick="menu.style.display = 'none'" class="menu-button">メ⁠</button>
        <span id="loginName">hhh</span>
        <h1 class="menu-nsme">HELP FULL</h1>
        <div class="follow">
            <a style="color: #ba005d;" href="https://instagram.com/bashar1_x">instagram</a>
            <a style="color: #00b938;" href="https://wa.me/0985780023">whatsapp</a>
            <a style="color: #007CBA;" href="https://facebook.com/bashar1.x">facebook</a>
        </div>
        <div class="menu-content">
            <p>
                لتفعيل ميزة التسجيل الصوتي وغيرها من الميزات يجب تحميل اخر اصدار
            </p>
            <a href="https://gemini-wjs-b.onrender.com/download">تحميل التحديث</a>
        </div>
        <div class="menu-footer">
            <button onclick="localStorage.removeItem('chats'), message_container.innerHTML = ''" class="menu-remove">مسح
                الدردشة</button>
            <footer>
                author: بشار مرشد الحيوي
            </footer>
        </div>
    </menu>

    <!--FOLLOW INSTAGRAM-->
    <div id="follow_insta">
        <div class="follow_div">
            <p>
                يحق لك 5أجابات في الجوله الواحدة, قم بمتابعتي للحصول على حساب غير مقيد
            </p>
            <button id="follow_button">FOLLOW</button>
        </div>
    </div>

    <!-- PROMPT  ... -->
    <div id="prompt">
        <div class="prompt-div-close">
            <button onclick="closePrompt()" id="prompt-close">メ⁠</button>
            <p style="font-size: 16px; color: #fff;">
                help full
            </p>
        </div>

        <div class="constent">
            <video id="prompt_video" src="" controls></video>
            <img id="prompt_img" src="" alt="no">
            <audio id="prompt_audio" src="" controls></audio>
            <p style="color: #fff;" id="prompt_file"></p>
        </div>

        <div class="prompt-div">
            <input placeholder=". . ." type="text" id="prompt-input">
            <button id="prompt-send">أرسل</button>
        </div>
    </div>

    <!--HEADER ...-->
    <header>
        <img id="header_image" src="image.jpg" alt="icon">
        <div style="margin-top: 5px;">
            <h4>1.5 help full</h4>
            <div id="online"></div>
        </div>

        <div class="header-cont">



            <div id="header_call" class="cont">
                <i style="height: 6px;"></i>
                <i style="height: 15px;"></i>
                <i style="height: 23px;"></i>
                <i style="height: 15px;"></i>
                <i style="height: 6px;"></i>
            </div>
            <span onclick="menu.style.display = 'block'" id="menu_button">彡</span>
        </div>
    </header>

    <!-- CONTAINER ... -->
    <ul id="message_container">

    </ul>

    <!--FORM MESSAGE -->
    <div id="form_message">
        <div class="buttons-msg">
            <button class="buttons-w" id="button_audio">
                <div class="b1"></div>
            </button>
            <button class="buttons-w" id="button_msg">
                ➜
            </button>
        </div>

        <div class="div-more">
            <button id="but_setMore"
                style="color: #555; font-size: 30px; font-weight: bold; width: 100%; height: 100%; background: none; border: none;">+</button>
            <div class="more_action" id="more_action">
                <button onclick="cheng_audio.click()">🎶</button>
                <button style="background: #5555553d;">🎞</button>
                <button onclick="cheng_image.click()">🖼</button>
                <button style="background: #5555553d;">🗂</button>
            </div>

        </div>

        <textarea placeholder="message" id="input_msg"></textarea>
        <div id="header-genr">
            <div></div>
        </div>
    </div>

    <div style="display: none;" class="cheng-head">
        <input id="cheng_image" accept="image/*" type="file">
        <input id="cheng_video" accept="video/*" type="file">
        <input id="cheng_audio" accept="audio/*" type="file">
        <input id="cheng_file" accept="application/*" type="file">
    </div>


</body>

<script src="mine.js"></script>

</html>
