<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>full call</title>

</head>

<body>
<button onclick="startSpeechRecognition()">start</button>
<div id="it">
    
</div>

</body>
<script>

    const it = document.getElementById('it')


    function startSpeechRecognition() {

        if ('webkitSpeechRecognition' in window) {
            const recognition = new webkitSpeechRecognition();

            recognition.continuous = true;
            recognition.interimResults = true;
            recognition.lang = 'ar-SA';

            recognition.onstart = () => {
                console.log('بدأ التسجيل');
            };
            let finfhTyping;
            recognition.onresult = (event) => {
                let transcript = '';
                for (let i = event.resultIndex; i < event.results.length; i++) {
                    if (event.results[i].isFinal) {
                        transcript += event.results[i][0].transcript;
                    } else {
                        transcript += event.results[i][0].transcript + ' ';
                    }
                }
                finfhTyping = transcript
                
            };

            recognition.onerror = (event) => {
                console.error('حدث خطأ:', event.error);
                it.innerText = "err"
            };

            recognition.onend = () => {
                console.log('انتهى التسجيل');
                console.log(finfhTyping)
                it.innerText = finfhTyping
            };


            recognition.start();
        } else {
            it.innerText = "no inebl"
        }
    }

</script>

</html>
